* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do Cabeçalho */
header {
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0; /* Posiciona o cabeçalho no topo da página */
    left: 0;
    right: 0;
    background-color: #03223F;
    padding: 15px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(3, 139, 187, 0.3) 0%, transparent 50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #007bb5;
    border-radius: 10px;
}

.simulate {
    background-color: #038BBB;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    color: #fff;
}

.simulate:hover {
    background-color: #007bb5;
    border-radius: 20px;
}

.banner {
    position: relative;
    width: 100%;
    height: 536px;
    overflow: hidden;
    background: url('img/image 1.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Parallax effect */
    background-attachment: fixed;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Overlay semi-transparente no canto inferior esquerdo */
.overlay-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%; /* Ocupa 40% da largura */
    height: 60%; /* Ocupa 40% da altura */
    background-color: rgba(3,34,63, 0.8); /* Semi-transparência preta */
    border-top-right-radius: 50px; 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-out;
}

/* Conteúdo do banner dentro do overlay */
.banner-content {
    text-align: left;
    color: white;
    z-index: 2;
    padding: 20px; /* Espaçamento interno para o conteúdo */
    text-align: center;
}

.banner-content h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
    line-height: 1;
}

.banner-content p {
    font-size: 15px;
    margin: 0 0 20px 0;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #038BBB;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #007bb5;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Seção de Serviços */
.services {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilos para os cartões de serviço */
.card {
    position: relative;
    width: 220px;
    height: 250px; /* Defina uma altura fixa para manter proporção */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: translateY(-10px) rotate(3deg);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); 
}

/* Para garantir que a imagem se encaixe perfeitamente no card */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém o aspecto da imagem enquanto preenche o card */
    display: block;
    border-radius: 10px;
}

/* Estilo para o overlay de conteúdo */
.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(3,34,63, 0.8);
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.access-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #038BBB;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.access-btn:hover {
    background-color: #007bb5;
}


/* Rodapé */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #0b365b;
    color: white;
    padding: 40px 20px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.footer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(3, 139, 187, 0.8) 0%, transparent 80%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2, .footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    padding-left: 15px;  /* This adds the indent */
    text-indent: -15px;  /* This keeps the text aligned after the bullet */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.icon {
    vertical-align: middle;
    margin-right: 8px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
